/*!************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./front/css/common.css ***!
  \************************************************************************/
body {
    margin: 0;
    padding: 0;
}

#loading {
    width: 100vw;
    height: 100vh;
    background-image: url(/js/79c31ef68f03247cc60f.gif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: none;
}
/*!***********************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./front/css/login.css ***!
  \***********************************************************************/
.sns_box #naver_id_login {
    background: url(/js/4382736d0fcc19a758c7.png);
    background-size: 100% 100%;
}

.sns_box .sns_btn {
    width: 200px;
    height: 50px;
}
