.foodUpload_container .file_upload_box {
    padding-top: 150px;
    cursor: pointer;
}

.foodUpload_container .picture_box {
    background: url(../img/upload2.png);
    background-size: 100% 100%;
    width: 40%;
    height: 200px;
    margin: 0 auto;
}

.foodUpload_container .upload_title_box {
    font-size: 3rem;
    font-weight: 600;
    margin-top: 30px;
    text-align: center;
}

.foodUpload_container .uploaded_title_box {
    margin-top: 20px;
    margin-bottom: 20px;
}

.show_file_upload .drag_div {
    position: relative;
    float: left;
    border: 3px solid transparent;
}

.show_file_upload .drag_div img {
    width: 300px;
    height: 300px;
}

.show_file_upload .drag_div .img_close {
    position:absolute;
    right: 0px;
    top: 0px;
    cursor:pointer;
    width: 40px;
    height: 40px;
    line-height: 38px;
    background: #fff;
    color: #333;
    border-radius: 50%;
    box-shadow: 1px 1px 4px 0 rgb(0 0 0 / 50%);
    text-align: center;
    font-weight: 600;
}

.show_file_upload .rep_img {
    border: 3px solid #2AC1BC;
}

.show_file_upload .drag_div .rep_box {
    position: absolute;
    overflow: hidden;
    width: 100px;
    height: 100px;
    left: -5px;
    top: -5px;
    display: block;
}

.show_file_upload .drag_div .rep_box::before {
    content: "";
    position: absolute;
    border: 6px solid;
    border-color: transparent #0e726f transparent transparent;
    top: 48px;
    left: -7px;
}

.show_file_upload .drag_div .rep_box::after {
    content: "";
    position: absolute;
    border: 6px solid;
    border-color: transparent transparent #0e726f transparent;
    top: -7px;
    left: 48px;
}

.show_file_upload .drag_div .rep_box .rep {
    background: #2AC1BC;
    width: 100px;
    transform: rotate(-45deg) translate(-29px, -13px);
    text-align: center;
    display: block;
    font-size: 24px;
}

.upload_text_box .upload_text {
    width: 100%;
    min-height: 100px;
    resize: none;
}