.foodUpload_container .file_upload_box {
    padding-top: 150px;
    cursor: pointer;
}

.foodUpload_container .picture_box {
    background: url(../img/upload2.png);
    background-size: 100% 100%;
    width: 40%;
    height: 200px;
    margin: 0 auto;
}

.foodUpload_container .upload_title_box {
    font-size: 3rem;
    font-weight: 600;
    margin-top: 30px;
    text-align: center;
}

.foodUpload_container .uploaded_title_box {
    margin-top: 20px;
    margin-bottom: 20px;
}

.show_file_upload .drag_div {
    position: relative;
    float: left;
}

.show_file_upload .drag_div img {
    width: 300px;
    height: 300px;
}

.show_file_upload .drag_div .img_close {
    position:absolute;
    right:6px;
    top:-7px;
    cursor:pointer;
}